@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
ul,
li,
i,
header,
nav,
section,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs ul li {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

#tabs ul li:last-child {
    margin-bottom: 0px;
}

#tabs ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 19px;
    color: #232d39;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: all 0.3s;
}

#tabs .main-rounded-button a {
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #ed563b;
}

#tabs .main-rounded-button a:hover {
    background-color: #f9735b;
}

#tabs ul li a .fa {
    font-size: 32px;
    height: 32px;
    color: #ed563b;
    margin-right: 15px;
    display: inline-block;
}

#tabs ul .ui-tabs-active span {
    background: #faf5b2;
    border: #faf5b2;
    line-height: 90px;
    border-bottom: none;
}

#tabs ul .ui-tabs-active a {
    color: #ed563b;
}

#tabs ul .ui-tabs-active span {
    color: #1e1e1e;
}

.tabs-content {
    margin-left: 30px;
    text-align: left;
    display: inline-block;
    transition: all 0.3s;
}

.tabs-content img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.tabs-content h4 {
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.tabs-content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}

.section-heading {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading h2 em {
    font-style: normal;
    color: #ed563b;
}

.section-heading img {
    margin: 20px auto;
}

.dark-bg h2 {
    color: #fff;
}

.dark-bg p {
    color: #fff;
}

.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    background-color: #f9735b;
    color: #fff;
}

@media (max-width: 992px) {
    .main-banner .caption h2 {
        font-size: 64px;
    }
    #features {
        margin-bottom: 110px;
    }
    #features .feature-item {
        margin-bottom: 30px;
    }
    #our-classes .tabs-content {
        margin-left: 0px;
        margin-top: 30px;
    }
    .trainer-item {
        margin-bottom: 30px;
    }
    #contact-us #map {
        margin-bottom: -7px;
    }
    #contact-us .contact-form {
        padding: 30px;
    }
    #contact-us .contact-form #contact {
        padding: 30px;
    }
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}