:root {
    --theme-color: #1da1f2;
    --hover-color: #a4c639;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav ul {
    float: right;
    margin-right: 60px;
}

.topnav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: var(--theme-color);
    color: white;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: var(--theme-color);
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

label.logo {
    color: #f2f2f2;
    font-size: 33px;
    line-height: 80px;
    padding: 0 140px;
    font-weight: 600;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}


/* Image slider */

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6)
}

.slideshow-container .text-slide {
    z-index: 2;
}

.img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slideshow-container .slide .img-fill {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}

.slideshow-container .slide1 .img-fill {
    background-image: url(../images/home_slide1.jpg);
}

.slideshow-container .slide2 .img-fill {
    background-image: url(../images/home_slide2.jpg);
}

.slideshow-container .slide3 .img-fill {
    background-image: url(../images/home_slide3.jpg);
}

.slideshow-container .text-slide {
    text-align: left;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow-container .slide h6 {
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--hover-color);
    animation: fadeOutRight 1s both;
}

.slideshow-container .slide h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
}

.slideshow-container .slide p {
    max-width: 570px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.slideshow-container .slide a {
    margin: 0 5px;
}

.slideshow-container .buttons {
    position: relative;
}

.slideshow-container {
    background: #000;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: white;
}

.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

a.round-button {
    background-color: var(--theme-color);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    text-decoration: none;
}

a.round-button:hover {
    background-color: #fff;
    color: var(--hover-color);
}

.slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/* Search Form */

.s010 {
    min-height: 100vh;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

.s010 form {
    width: 100%;
    max-width: 790px;
    margin: 0;
}

.s010 form .inner-form {
    width: 100%;
}

.s010 form .inner-form .input-field {
    position: relative;
}

.s010 form .inner-form .input-field input {
    height: 100%;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    height: 70px;
    color: #fff;
    background: linear-gradient(to right, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a 100%);
    font-family: 'Lato', sans-serif;
}

.s010 form .inner-form .input-field input.placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.s010 form .inner-form .input-field input:-moz-placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.s010 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.s010 form .inner-form .input-field input:hover,
.s010 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s010 form .inner-form .input-field .btn-search {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: linear-gradient(to right, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a 100%);
    white-space: nowrap;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 0;
    position: relative;
}

.s010 form .inner-form .input-field .btn-search:before {
    border-radius: inherit;
    background: linear-gradient(45deg, #ff4b5a 0%, #ff4b5a 28%, #2c6dd5 91%, #2c6dd5 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -1;
    transition: all .2s ease-out, color .2s ease-out;
}

.s010 form .inner-form .input-field .btn-search:hover::before {
    opacity: 1;
}

.s010 form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s010 form .inner-form .input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #666;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
}

.s010 form .inner-form .input-field .btn-delete:hover,
.s010 form .inner-form .input-field .btn-delete:focus {
    color: #000;
    outline: 0;
    box-shadow: none;
}

.s010 form .inner-form .basic-search {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 34px;
    margin-bottom: 5px;
}

.s010 form .inner-form .basic-search .input-field {
    width: 100%;
}

.s010 form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 40px;
}

.s010 form .inner-form .basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 100%;
}

.s010 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #fff;
}

.s010 form .inner-form .advance-search {
    background: #fff;
    padding: 40px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.s010 form .inner-form .advance-search .desc {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 26px;
}

.s010 form .inner-form .advance-search .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.s010 form .inner-form .advance-search .row.second {
    margin-bottom: 46px;
}

.s010 form .inner-form .advance-search .row.third {
    margin-bottom: 0;
}

.s010 form .inner-form .advance-search .row.third .input-field {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}


/* **************  About us ***************** */

.about-us {
    margin-top: 140px;
    background-image: url(../images/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
    position: relative;
}

.about-us .container {
    position: relative;
    z-index: 2;
}

.about-us:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-us span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.about-us h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.about-us em {
    font-style: normal;
    color: var(--theme-color);
}

.about-us p {
    color: #fff;
    margin-bottom: 40px;
}


/* *************** Testimonial ************** */

.about-testimonials {
    margin-top: 0px!important;
}

.testimonials {
    margin-top: 140px;
    background-color: #f7f7f7;
    padding: 140px 0px;
    width: 1170px;
    margin: 0 auto;
}

.testimonial-item .inner-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.testimonial-item p {
    font-size: 14px;
    font-weight: 400;
}

.testimonial-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

.testimonial-item span {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: var(--button-color);
}

.testimonial-item img {
    max-width: 60px;
    border-radius: 50%;
    margin: 25px auto 0px auto;
}


/* *************** Footer ******************* */

footer {
    background-color: #232323;
    padding: 80px 0px;
    color: #fff;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
    margin-bottom: 0px;
}

footer ul.menu-list li a {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
    text-decoration: none;
}

footer ul.menu-list li a:hover {
    color: var(--theme-color);
}

footer .col-md-3 {
    margin-left: auto;
    margin-right: 0;
}

footer .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

footer .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

footer .contact-form ::placeholder {
    color: #aaa;
}

footer .contact-form button.round-button {
    background-color: transparent;
    color: #fff;
    background-color: var(--theme-color);
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

footer .contact-form button.round-button:hover {
    background-color: #fff;
    color: var(--hover-color);
}


/* Sub-footer Style */

.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
}

.sub-footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sub-footer a {
    color: #fff;
}


/* *************** Animations *************** */

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 768px) {
    .slideshow-container .slide h6 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .slideshow-container .slide h4 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1px;
    }
    .slideshow-container .slide p {
        max-width: 570px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .s010 form .inner-form .advance-search {
        padding: 40px 15px;
    }
    .s010 form .inner-form .advance-search .row {
        display: block;
    }
    .s010 form .inner-form .advance-search .input-field {
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        padding: 80px 0px 20px 0px;
    }
    footer .footer-item {
        border-bottom: 1px solid #343434;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    footer .last-item {
        border-bottom: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media only screen and (max-width: 300px) {
    .previous,
    .next,
    .text {
        font-size: 11px
    }
}