:root {
    --theme-color: #1da1f2;
    --hover-color: #a4c639;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background-header {
    background: rgba(250, 250, 250, 0.99) !important;
    height: 80px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
}

.background-header .logo,
.background-header .main-nav .nav li a {
    color: #232d39!important;
}

.background-header .main-nav .nav li:hover>a {
    color: #ed563b!important;
}

.background-header .nav li a.active {
    color: #ed563b!important;
}

.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    padding: 0px 15px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    box-shadow: none;
    text-align: center;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
    overflow: hidden;
}

.header-area .main-nav .logo {
    line-height: 80px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}

.header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 27px;
    margin-right: 0;
    background-color: transparent;
    position: relative;
    z-index: 999;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
}

.header-area .main-nav .nav li:hover>a,
.header-area .main-nav .nav li>a.active {
    color: #ed563b!important;
    opacity: 1;
}

.background-header .main-nav .nav li:hover>a,
.background-header .main-nav .nav li>a.active {
    color: #ed563b!important;
    opacity: 1;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area.header-sticky .nav {
    margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
    color: #ed563b;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}


/* Image slider */

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6)
}

.slideshow-container .text-slide {
    z-index: 2;
}

.img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slideshow-container .slide .img-fill {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}

.slideshow-container .slide1 .img-fill {
    background-image: url(../images/home_slide1.jpg);
}

.slideshow-container .slide2 .img-fill {
    background-image: url(../images/home_slide2.jpg);
}

.slideshow-container .slide3 .img-fill {
    background-image: url(../images/home_slide3.jpg);
}

.slideshow-container .text-slide {
    text-align: left;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow-container .slide h6 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--hover-color);
    animation: fadeOutRight 1s both;
}

.slideshow-container .slide h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FFF;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
}

.slideshow-container .slide p {
    max-width: 570px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}

.slideshow-container .slide a {
    margin: 0 5px;
}

.slideshow-container .buttons {
    position: relative;
}

.slideshow-container {
    background: #000;
}

a.round-button {
    background-color: var(--theme-color);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    text-decoration: none;
}

a.round-button:hover {
    background-color: #fff;
    color: var(--hover-color);
}


/* Add Advert form */

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-group label {
    margin: 5px 10px 5px 0;
    padding: 12px;
}

.form-group input,
select {
    vertical-align: middle;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-control-text {
    max-width: 100%;
}

.form-group .address_cont {
    width: 100%;
}

.about-us {
    margin-top: 140px;
    background-image: url(../images/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
    position: relative;
}

.about-us .container {
    position: relative;
    z-index: 2;
}

.about-us:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-us span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.about-us h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.about-us em {
    font-style: normal;
    color: var(--theme-color);
}

.about-us p {
    color: #fff;
    margin-bottom: 40px;
}

footer {
    background-color: #232323;
    padding: 80px 0px 20px 0px;
    color: #fff;
}

footer .footer-item {
    border-bottom: 1px solid #343434;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

footer .last-item {
    border-bottom: none;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
    margin-bottom: 0px;
}

footer ul.menu-list li a {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
    text-decoration: none;
}

footer ul.menu-list li a:hover {
    color: var(--theme-color);
}

footer .col-md-3 {
    margin-left: auto;
    margin-right: 0;
}

footer .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

footer .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

footer .contact-form ::placeholder {
    color: #aaa;
}

footer .contact-form button.round-button {
    background-color: transparent;
    color: #fff;
    background-color: var(--theme-color);
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

footer .contact-form button.round-button:hover {
    background-color: #fff;
    color: var(--hover-color);
}


/* Sub-footer Style */

.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
}

.sub-footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sub-footer a {
    color: #fff;
}


/* ************ car details *********** */

#our-classes {
    margin-bottom: 140px;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs ul li {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

#tabs ul li:last-child {
    margin-bottom: 0px;
}

#tabs ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 19px;
    color: #232d39;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: all 0.3s;
}

#tabs .main-rounded-button a {
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #ed563b;
}

#tabs .main-rounded-button a:hover {
    background-color: #f9735b;
}

#tabs ul li a .fa {
    font-size: 32px;
    height: 32px;
    color: #ed563b;
    margin-right: 15px;
    display: inline-block;
}

#tabs ul .ui-tabs-active span {
    background: #faf5b2;
    border: #faf5b2;
    line-height: 90px;
    border-bottom: none;
}

#tabs ul .ui-tabs-active a {
    color: #ed563b;
}

#tabs ul .ui-tabs-active span {
    color: #1e1e1e;
}

.tabs-content {
    margin-left: 30px;
    text-align: left;
    display: inline-block;
    transition: all 0.3s;
}

.tabs-content img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.tabs-content h4 {
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.tabs-content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}

#our-classes .tabs-content {
    margin-left: 0px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: #ed563b!important;
        opacity: 1;
    }
    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area .main-nav .nav li:last-child {
        width: 100%;
        background-color: #ed563b;
        color: #fff;
    }
    .header-area.header-sticky .nav {
        margin-top: 80px !important;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #ed563b!important;
    }
    .header-area .main-nav .nav li.submenu ul {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        background: #000;
    }
    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }
    .header-area .main-nav .nav li.submenu ul.active {
        height: auto !important;
    }
    .header-area .main-nav .nav li.submenu:after {
        color: #3B566E;
        right: 25px;
        font-size: 14px;
        top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 768px) {
	.header-area .main-nav .nav {
        display: flex !important;
        float: right;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-left: 0px;
        width: auto;
    }
    .header-area .main-nav .nav li a {
        height: 40px !important;
        line-height: 40px !important;
        border: transparent;
        color: #f7f7f7 !important;
        background: none !important;
    }
    #myDropdown,
    #myDropdown1 {
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 0;
    }
    .slideshow-container .slide h6 {
        font-size: 22px;
    }
    .slideshow-container .slide h4 {
        margin-bottom: 30px;
        font-size: 44px;
        letter-spacing: 2.5px;
    }
    .slideshow-container .slide p {
        line-height: 30px;
        margin-bottom: 40px;
    }
    footer {
        padding: 80px 0px;
    }
    footer .footer-item {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 800px) {
    .form-group input,
    select {
        margin: 5px 10px 5px 0;
    }
    .form-group {
        flex-flow: row wrap;
        align-items: center;
    }
}


@media (min-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.background-header #myDropdown,
.background-header #myDropdown1 {
    background: #fff;
}

#myDropdown a,
#myDropdown1 a {
    line-height: 1.3;
    color: #fff;
}
